%p Dzień dobry,

%p Pozwoliłem sobie do Państwa napisać, ponieważ sądzę, że problem, który pomogliśmy rozwiązać naszej księgowej, może również przydać się Państwu. Problem jaki rozwiązaliśmy polegał na uproszczeniu czasochłonnej komunikacji między biurem a klientami.

%p Biuro rachunkowe, które posiada ok 100 klientów, miesięcznie wysyła co najmniej 500 wiadomości email lub sms:

%ol
  %li opłaty ZUS
  %li Podatki dochodowe
  %li Podatek VAT
  %li Listy Płac
  %li faktury za usługi księgowe

%p
+ inne wiadomości/odpowiedzi na pytania klientów

%p Wcześniej nasza księgowa po rozliczeniu klienta wysyłała mailem lub informowała telefonicznie o składkach ZUS, podatkach, często zdarzało się, że klienci przychodzili po  druki przelewów, wówczas nasza księgowa lub jej pracownicy odrywali się od pracy i drukowali przelewy. Czasami klienci zapominali o opłatach obarczając winą naszą księgową, że ich o tym nie poinformowała - dlatego powstał serwis #{link_to 'MojeOpłaty.pl', 'https://mojeoplaty.pl'}, który ułatwia pracę i informuje klientów o bieżących składkach, podatkach i nie tylko.

%p
  = link_to 'https://youtu.be/zDJMsIFZMog' do
    = image_tag attachments['playme.jpg'].url
%p
  Zachęcam do
  %strong= link_to 'obejrzenia krótkiego filmiku', 'https://youtu.be/zDJMsIFZMog'
  \- proszę zobaczyć jak rozwiązaliśmy problem naszej księgowej.


%p Zapewniamy wysoką poufność danych, m.in poprzez szyfrowane połączenie z serwerem, niezależną strukturę serwerową. Dane Państwa firm są Państwa własnością i nie wysyłamy do nich żadnych informacji.

%p
  W razie pytań, zachęcam do kontaktu
  %br
  Rafath Khan
  %br
  512 779 001
