Dzień dobry,


Pozwoliłem sobie do Państwa napisać, ponieważ sądzę, że problem, który pomogliśmy rozwiązać naszej księgowej, może również przydać się Państwu. Problem jaki rozwiązaliśmy polegał na uproszczeniu czasochłonnej komunikacji między biurem a klientami.


Biuro rachunkowe, które posiada ok 100 klientów, miesięcznie wysyła co najmniej 500 wiadomości email lub sms:


1. opłaty ZUS
2. podatki dochodowe
3. podatek VAT
4. listy płac
5. faktury za usługi księgowe

+ inne wiadomości/odpowiedzi na pytania klientów


Wcześniej nasza księgowa po rozliczeniu klienta wysyłała mailem lub informowała telefonicznie o składkach ZUS, podatkach, często zdarzało się, że klienci przychodzili po  druki przelewów, wówczas nasza księgowa lub jej pracownicy odrywali się od pracy i drukowali przelewy. Czasami klienci zapominali o opłatach obarczając winą naszą księgową, że ich o tym nie poinformowała - dlatego powstał serwis www.mojeoplaty.pl, który ułatwia pracę i informuje klientów o bieżących składkach, podatkach i nie tylko.


Zachęcam do obejrzenie filmiku (https://youtu.be/zDJMsIFZMog) - proszę zobaczyć jak rozwiązaliśmy problem naszej księgowej.


Zapewniamy wysoką poufność danych, m.in poprzez szyfrowane połączenie z serwerem, niezależną strukturę serwerową. Dane Państwa firm są Państwa własnością i nie wysyłamy do nich żadnych informacji.


W razie pytań, zachęcam do kontaktu
Rafath Khan
512 779 001
