Dzień dobry #{@user.firstname}!

Cieszę się, że zdecydował#{ge(@user.firstname)} się dołączyć do grona użytkowników serwisu i ulatwić sobie pracę :).

Zaloguj się - #{account_url} - do serwisu i przeczytaj instrukcję umieszczoną na głównej stronie - wystarczy przejść krótką konfigurację i system będzie gotowy do pracy.

W razie pytań zawsze jesteśmy dostępni, wystarczy do nas napisać lub zadzwonić.

Pozdrawiam
Rafath Khan
512 779 001
