.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  %h4.modal-title Polityka Prywatności
.modal-body
  %ol
    %li Serwis wykorzystuje pliki Cookies, które są niezbędnę do działania serwisu.
    %li W celach statystycznych serwis wykorzystuje zewnętrzne serwisy do analizy ruchu (Google Analytics)
    %li Wszelkie dane umieszczane przez Biuro Rachunkowe są chronione i osoby trzecie nie mają dostępu do tych danych
    %li Serwis - poza wiadomościami wysyłanymi przez Biuro Rachunkowe, nie kontaktuje się z Firmami Klienta a nie wysyła żadnych innych wiadomości
    %li
      Serwisu wykorzystuje pliki (cookies) w celu:
      %ul
        %li dopasowania zawartości strony internetowej do indywidualnych preferencji użytkownika, przede wszystkim pliki te rozpoznają jego urządzenie, aby zgodnie z jego preferencjami wyświetlić stronę;
        %li przygotowywania statystyk pomagających poznaniu preferencji i zachowań użytkowników, analiza tych statystyk jest anonimowa i umożliwia dostosowanie zawartości i wyglądu serwisu do panujących trendów, statystyki stosuje się też do oceny popularności strony;
        %li możliwości logowania do serwisu;
        %li utrzymania logowania użytkownika na każdej kolejnej stronie serwisu.

.modal-footer
  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Zamknij

