.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  %h4.modal-title Regulamin usługi
.modal-body
  %h5 Regulamin w skrócie
  %ul
    %li Założenie konta jest bezpłatne
    %li Do 5 firm konto jest prowadzone bezpłatnie, po przekroczeniu liczby firm określonej w Cenniku Serwis zacznie naliczać opłaty w formie abonamentu. 
    %li Wszystkie dane umieszczane w systemie są Twoją własnością i nikt poza Twoim Biurem Rachunkowym nie ma do nich dostępu
    %li Serwis nie prowadzi, ani nie będzie prowadził korespondencji z Twoimi firmami poza informacjami dotyczącymi opłat
    %li Serwis nie rozsyła żadnych reklam, ani nie kontaktuje się
    %li Wszystkie wiadomości do firm są wysyłane w imieniu Biura Rachunkowego

  %h5 §1 Definicje
  %ol
    %li
      %strong Usługodawca
      ARM Sp. z o.o. wpisana do Rejestru Spółek pod numerem: 0000532451, nip: 846-166-18-44 z siedzibą w Augustowie (adres: Żytnia 12, 16-300 Augustów)
    %li
      %strong Biuro Rachunkowe, Klient
      osoba fizyczna prowadząca działalność gospodarczą, osoba prawna lub jednostka organizacyjna nieposiadająca osobowości prawnej, która zawarła z MojeOplaty.pl umowę o świadczenie Usług określonych w niniejszym Regulaminie.
    %li
      %strong Firma Klienta
      osoba fizyczna prowadząca działalność gospodarczą, osoba prawna lub jednostka organizacyjna nieposiadająca osobowości prawnej, która została dodana przez Biuro Rachunkowe w systemie MojeOplaty.pl
    %li
      %strong Umowa
      umowa o świadczenie Usług określonych w niniejszym Regulaminie.
    %li
      %strong Serwis, MojeOplaty.pl
      – serwis internetowy dostępny pod adresem https://mojeoplaty.pl
    %li
      %strong Konto, Konto Klienta
      \- konto określone unikalnym identyfikatorem (adres email) i hasłem służące do zarządzania Usługami.
    %li
      %strong Regulamin
      \- niniejszy Regulamin Korzystania z Usług MojeOplaty.pl
    %li
      %strong Abonament
      \- opłata pobierana z tytułuświadczenia usług przez MojeOplaty.pl.

  %h5 §2 Rejestracja
  %ol
    %li
      Klient wypełniający formularz na stronie MojeOplaty.pl wyraża zgodę i przyjmuje do wiadomości, że dane zawarte w formularzu będą przetwarzane do celów nawiązania współpracy z MojeOplaty.pl.
    %li
      Każdemu Klientow przysługuje prawo wglądu do swoich danych osobowych podanych w formularzu rejestracyjnym.

  %h5 §3 Świadczenie Umowy
  %ol
    %li
      Zawarcie umowy z Klientem nie wymaga formy pisemnej, następuje przez założenie w serwisie indywidualnego konta przez Klienta.
      MojeOplaty to usługa typu prepaid, wszelkie opłaty są pobierane z góry, brak wpłaty na konto skutkuje zaprzestaniem świadczenia Usług bez ponoszenia jakichkolwiek opłat przez Klienta.
    %li Wszelkie dane wprowadzane przez Biuro Rachunkowe, w tym dane firm, składek ZUS, wysokości podatków itp. są danymi poufnymi, w pełni należącymi do Klienta.
    %li Serwis nie rozsyła ani nie będzie rozsyłał żadnych dodatkowych wiadomości
    %li Serwis nie będzie kontaktował się Firmami Klienta, oprócz dostarczenia wiadomości wysyłanych przez Biuro Rachunkowe
    %li Wszelkie dane umieszczane przez Biuro Rachunkowe są poufne i nie są udostępniane osobom trzecim.

  %h5 §4 Płatności
  %ol
    %li
      Usługi świadczone na podstawie niniejszego Regulaminu są usługami płatnymi, o ile nie zostało to oznaczone inaczej.
    %li
      MojeOplaty oferuje program "Satysfakcja gwarantowana albo zwrot pieniędzy" w ciągu pierwszych 30 dni, jeśli Klient
      zrezygnuje z Usług MojeOplaty.pl, może ubiegać się o zwrot opłaty.
    %li
      Klient może uiścić opłatę abonamentową za zamówioną Usługę, w momencie otrzymania wiadomości z informacją o płatności. W razie braku płatności, świadczenie Usług zostanie zawieszone bez żadnych dodatkowych opłat.
    %li
      Zapłata za Usługę następuje na rachunek MojeOplaty.pl za pomocą przelewu
    %li
      MojeOplaty.pl wystawi fakturę VAT niezwłocznie po zaksięgowaniu wpłaty na koncie. Faktura VAT będzie dostępna do pobrania w Panelu Klienta.
    %li
      Na 14 dni, 7 dni, 3 dni i 1 dzień przed upływem okresu, na który został wykupiony abonament, Klient otrzyma pocztą elektroniczną informację o nadchodzącym terminie zapłaty za Usługę.
      Jeżeli do ostatniego dnia okresu, na który został wykupiony abonament wpływ pełnej kwoty nie zostanie zarejestrowany na rachunku MojeOplaty.pl w ciągu 7 dni zostaną zawieszone Usługi MojeOplaty.pl

  %h5 §5 Reklamacje
  %ol
    %li
      Reklamacja Klienta w związku z niewykonaniem lub nienależytym wykonaniem Umowy winna zostać przesłana do MojeOplaty.pl na adres reklamacja@mojeoplaty.pl
    %li
      Reklamacja powinna określać:
      %ol
        %li
          dane Klienta umożliwiające kontakt z nim wraz z podaniem zarejestrowanego adresu email,
        %li
          rodzaj usługi, której dotyczy reklamacja,
        %li
          zarzuty,
        %li
          okoliczności uzasadniające reklamację Użytkownika.
    %li
      MojeOplaty.pl zobowiązany jest udzielić odpowiedzi na reklamację, w terminie do 21 dni od daty jej otrzymania, wskazując, czy uznaje reklamację lub informując o braku podstaw do uznania reklamacji wraz z uzasadnieniem swojego stanowiska.
    %li
      W przypadku niewykonania lub niewłaściwego wykonania usługi z przyczyn, za które MojeOplaty.pl nie ponosi odpowiedzialności, w szczególności
      z powodów  związanych z nieprawidłowym funkcjonowaniem Google lub odrzuceniem reklam przez Google, MojeOplaty.pl będzie dążyło do wyjaśnienia powodów odrzucenia reklam.
  %h5 §6 Dane osobowe
  %ol
    %li
      Administratorem danych osobowych przetwarzanych w związku z wykonaniem Umowy jest Usługodawca.
    %li
      Użytkownikom przysługuje prawo dostępu do danych osobowych, które ich dotyczą oraz prawo do ich edycji.
    %li
      Podanie danych osobowych jest dobrowolne, jednakże niezbędne dla zapewnienia prawidłowego świadczenia Usług.

  -#
  %h5 §7 Postanowienia końcowe
  %ol
    %li
      MojeOplaty.pl zastrzega sobie prawo do zmiany treści niniejszego Regulaminu.
    %li
      O zmianie treści Regulaminu MojeOplaty.pl poinformuje Użytkowników wysyłając  treść Regulaminu w nowym brzmieniu za pośrednictwem poczty elektronicznej na adres wskazany w trakcie rejestracji w Serwisie MojeOplaty.pl oraz publikując informacje o zmianach na stronie internetowej MojeOplaty.pl.
    %li
      Załączniki wymienione w treści Regulaminu stanowią jego integralną część.
    %li
      Użytkownikowi, który nie akceptuje postanowień zmienionego Regulaminu przysługuje prawo do wypowiedzenia rezygnacji z abonamentu w terminie 14 dni od dnia dostarczenia Regulaminu.
    %li
      W sprawach nieuregulowanych Regulaminem mają zastosowanie przepisy prawa powszechnie obowiązującego w szczególności przepisy Ustawy o świadczeniu usług drogą elektroniczną oraz Kodeksu Cywilnego z naciskiem na polubowne rozwiązanie problemu.

.modal-footer
  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Zamknij

