- if current_user.errors.blank?
  :plain
    $('.loading_curtain, .pass_msg .alert').remove();
    $('.pass_msg').prepend('<div class="alert alert-block alert-success">Dane zostały poprawnie zapisane</div>');
    $('.pass_msg .alert').highlight();
- else
  :plain
    $('.loading_curtain, .pass_msg .alert').remove();
    $('.pass_msg').prepend('<div class="alert alert-block alert-danger">Wystąpił błąd. Sprawdź formularz i wyślij jeszcze raz. #{current_user.errors.messages.inspect}</div>');
    $('.pass_msg .alert').highlight();
