%p Witaj #{@resource.firstname}!
%p Ktoś poprosił o zmianę hasła do Twojego konta. Jeśli chcesz zmienić hasło - kliknij w link poniżej
%p= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token)
%p Jeśli to nie Ty chcesz zmienić hasło, koniecznie skontaktuj się z nami telefoniczne pod nr 512 779 001
